body {
    background-color: white;
}
html {
    scroll-behavior: smooth;
}

.main {
    width: 40%;
    height: 400px;
    margin: 10% auto;
    text-align: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5%;
}